/* header.js */

.header {
  background-color: rgb(190, 232, 242);
  text-align: center;
  /* margin: 10px 10px 15px 10px; */
  margin-bottom: 10px;
  padding: 1px;
  font-size: 2vh;
  font-family: Roboto,
  'Segoe UI',
  Tahoma,
  sans-serif;
}

/* home.js */

.add-rest-btn-div {
  display: flex;
  justify-content: space-around;
  margin: 3%;
}
.add-rest-button {
  height: 100%;
  width: 80%;
  color: black;
  font-weight: 700;
  border-radius: 10px;
  border-color: white;
  background-color: rgb(221, 94, 94);
}
.search-div {
  display: flex;
  justify-content: space-around;
}
#search {
  border: 1px solid #145329;
}
.search-btn {
  background-color: #145329;
  color: white;
}
.searched-items-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 10vh;
}
.searched-List-card{
  margin: 20px;
  color: rgb(14, 44, 32);
  padding: 10px;
  border-radius: 5%;
  width: 300px;
  background-color: #afcad6;
}
.restaurantList-card {
  margin: 20px;
  color: rgb(14, 44, 32);
  padding: 10px;
  border-radius: 5%;
  width: 300px;
  background-color: rgb(190, 232, 242);
}
.buttons {
  display: flex;
}
.buttons :hover {
  cursor: pointer;
}
.edit-btn {
  margin: 5%;
  height: 5vh;
  width: 8vh;
  color: black;
  font-size: 2vh;
  font-weight: 700;
  border-radius: 5px;
  border-color: white;
  margin-top: 20px;
  background-color: rgb(123, 224, 165);
  border-width: 0px;
}
.delete-btn {
  margin: 5%;
  height: 5vh;
  width: 10vh;
  color: black;
  font-size: 2vh;
  font-weight: 700;
  border-radius: 5px;
  border-color: white;
  margin-top: 20px;
  background-color: rgb(236, 98, 98);
  border-width: 0px;
}
.responseError {
  text-align: center;
  color: red;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 10vh;
}
.menu-show-more {
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* addRestaurant.js */

.form_addrestaurant {
  color: rgb(47, 4, 87);
  font-family: "sans-serif";
  display: block;
  text-align: center;
  background-color: rgb(184, 229, 243);
  border-radius: 3vh;
  width: 60vw;
  height: fit-content;
  margin: 0vh auto;
  padding: 2vh;
  min-width: 50vw;
}
.inner-div-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.input-label-div {
  font-size: 2vh;
  padding: 1vh;
  overflow-wrap: break-word;
}

.input-label-div label {
  text-align: start;
  font-size: large;
  display: none;
}

@media all and (min-width: 500px) {
  .input-label-div label {
    display: block;
  }
}
.error-msg {
  color: red;
}
#restaurantName,
#managerName,
#contactNumber,
#menu,
#timings {
  height: 5vh;
  width: 25vw;
  font-size: 2vh;
  border-radius: 1vh;
  padding-left: 1vh;
  border: 1px solid #145329;
}
.add_info_button {
  height: 5vh;
  width: 20%;
  color: black;
  font-weight: 700;
  border-radius: 10px;
  border-color: white;
  margin-top: 20px;
  background-color: rgb(221, 94, 94);
}

.add-rest-button :hover{
  cursor: pointer;
}

#add-btn {
  height: 5vh;
  width: 15vw;
  color: black;
  font-weight: 700;
  font-size: 2vh;
  margin: 1vh auto;
  border-radius: 2vh;
  /* border-color: rgb(118, 201, 166); */
  background-color: rgb(130, 172, 230);
  border-width: 0px;
  cursor: pointer;
}
#save-btn {
  height: 5vh;
  width: 15vw;
  color: black;
  font-weight: 700;
  font-size: 2vh;
  margin: 1vh auto;
  border-radius: 2vh;
  border-color: rgb(111, 200, 214);
  background-color: rgb(112, 168, 236);
  border-width:0px;
}