<div class="heading-div">
  <h1 class="name-heading"><strong>{{ restaurantName }}</strong></h1>
  <!-- <button class="add-menu-btn">Add Menu</button> -->
  <button [routerLink]="['addmenu']" [state]="{restaurantName:restaurantName}" class="add-menu-btn">Add Menu</button>
</div>

<div class="cards-list">
  <div class="card 1" *ngFor="let data of menu.data">
    <div class="card_image">
      <img
        src="https://png.pngtree.com/png-vector/20190119/ourlarge/pngtree-flat-food-icon--vector-png-image_327487.jpg"
      />
    </div>
    <div class="card_title title-white">
      <div class="item-text">
        <p> Food Item: {{ data.itemName }}</p>
        <p> Price : {{ data.itemPrice }}</p>
      </div>
    </div>
  </div>
</div>
