.add-menu-btn {
    /* height:100px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(3, 66, 47);
    color:white; */

    height: 5vh;
    width: 15vh;
    color: white;
    font-size: 2vh;
    font-weight: 700;
    margin-top: 2%;
    border-radius: 5px;
    border-color: white;
    background-color: rgb(2, 69, 30);
    border-width: 0px;
}