<div class="form_addrestaurant">
      <form>
        <h2>Add New Restaurant</h2>
        <div class="inner-div-add">
            <div class="input-label-div">
            <label>Restaurant Name : </label>
            <input
              type="text"
              id="restaurantName"
              name="restaurantName"
              placeholder="Restaurant Name"
               (keyup)="getRestaurantName($event)"
              value="{{menuData.restaurantName}}"
            />
          </div>
          <div class="input-label-div">
            <label>Item Name : </label>
            <input
              type="text"
              id="itemName"
              name="itemName"
              placeholder="Item Name"
              (keyup)="getItemName($event)"
              value="{{menuData.itemName}}"
            />
          </div>
           <div class="input-label-div">
            <label>Item Price : </label>
            <input
              type="text"
              id="itemPrice"
              name="itemPrice"
              placeholder="Item Price"
              (keyup)="getItemPrice($event)"
              value="{{menuData.itemPrice}}"
            />
          </div>
       <button class="add-menu-btn"
          (click)="addMenuInfo()">ADD</button>
        </div>
        <div>{{errorMessage}}</div>
      </form>
    </div>