<div class="form_addrestaurant">
      <form>
        <h2>Add New Restaurant</h2>
        <div class="inner-div-add">
          <div class="input-label-div">
            <label>Restaurant Name : </label>
            <input
              type="text"
              id="restaurantName"
              name="restaurantName"
              placeholder="Restaurant Name"
              (keyup)="getRestaurantName($event)"
              value="{{restaurantInfo.restaurantName}}"
            />
          </div>
          <div class="input-label-div">
            <label>Manager Name : </label>
            <input
              type="text"
              id="managerName"
              name="managerName"
              placeholder="Manager Name"
              (keyup)="getManagerName($event)"
              value="{{restaurantInfo.managerName}}"
            />
          </div>
          <div class="input-label-div">
            <label>Contact Number : </label>
            <input
              type="number"
              id="contactNumber"
              name="Contact Number"
              placeholder="Contact number"
              (keyup)="getContactNumber($event)"
              value="{{restaurantInfo.contactNumber}}"
            />
          </div>
          <!-- <div class="input-label-div">
            <label>Menu : </label>
            <input
              type="text"
              id="menu"
              name="menu"
              placeholder="Menu"
              (keyup)="getMenu($event)"
              value="{{restaurantInfo.menu}}"
            />
          </div> -->
          <div class="input-label-div">
            <label>Timings : </label>
            <input
              type="text"
              id="timings"
              name="timings"
              placeholder="Timings"
              (keyup)="getTimings($event)"
              value="{{restaurantInfo.timings}}"
            />
          </div>
        </div>
        <input
          type="submit"
          id="add-btn"
          value="ADD"
          (click)="addRestaurantInfo()"
        />
      </form>
    </div>