 <app-header></app-header>
 <!-- <app-home></app-home> -->
<!--<app-home><a routerLink=""></a></app-home>
<app-add-restaurant><a routerLink="addRestaurant"></a></app-add-restaurant> -->

<router-outlet></router-outlet>