<div class="add-rest-btn-div">
  <a routerLink="addRestaurant"
    ><button class="add-rest-button">Add Restaurant</button></a>
  <!-- <div class="search-div">
    <input
      type="text"
      id="search"
      name="searchRestaurant"
      placeholder="Search Restaurant"
    />
    <button class="search-btn">Search</button>
  </div> -->
</div>
<div class="list-container">
  <div class="restaurantList-card" *ngFor="let restaurant of restaurants">
    <h4>
      Restaurant Name :<strong>{{ restaurant.restaurantName }}</strong>
    </h4>
    <p>
      manager Name : <strong>{{ restaurant.managerName }}</strong>
    </p>
    <p>
      Contact Number : <strong>{{ restaurant.contactNumber }}</strong>
    </p>
    <p>
      Timings : <strong>{{ restaurant.timings }}</strong>
    </p>
    <div class="iconss">
      <i
        class="material-icons"
        matTooltip="Menu"
        [routerLink]="['menu']"
        [state]="{ restaurantName: restaurant.restaurantName }"
        >menu</i
      >
      <i
        [routerLink]="['update']"
        [state]="{ restaurant }"
        class="material-icons"
        matTooltip="Update"
        >edit</i
      >
      <i class="material-icons" matTooltip="Delete" (click)="DeleteRestaurantInfo(restaurant.restaurantName)">delete</i>
    </div>
  </div>
</div>
