<div>
      <div>
        <form class="form_addrestaurant">
          <h2 class="heading">Update Restaurant Info</h2>
          <div class="inner-div-add">
            <div class="input-label-div">
              <label>Restaurant Name : </label>
              <input
                type="text"
                id="restaurantName"
                name="restaurantName"
                placeholder="Restaurant Name"
                (keyup)="getRestaurantName($event)"
                value="{{UpdateDataInfo.restaurant.restaurantName}}"
              />
            </div>
            <div class="input-label-div">
              <label>Manager Name : </label>
              <input
                type="text"
                id="managerName"
                name="managerName"
                placeholder="Manager Name"
                (keyup)="getManagerName($event)"
                value="{{UpdateDataInfo.restaurant.managerName}}"
              />
            </div>
            <div class="input-label-div">
              <label>Contact Number : </label>
              <input
                type="number"
                id="contactNumber"
                name="Contact Number"
                placeholder="contact number"
                (keyup)="getContactNumber($event)"
                value="{{UpdateDataInfo.restaurant.contactNumber}}"
             />
            </div>
            <!-- <div class="input-label-div">
              <label>Menu : </label>
              <input
                type="text"
                id="menu"
                name="menu"
                placeholder="menu"
              />
            </div> -->
            <div class="input-label-div">
              <label>Timings : </label>
              <input
                type="text"
                id="timings"
                name="timings"
                placeholder="Timings"
                (keyup)="getTimings($event)"
                value="{{UpdateDataInfo.restaurant.timings}}"
              />
            </div>
            <input
              type="submit"
              id="save-btn"
              value="Save"
              class="add_info_button"
              (click)="UpdateRestaurantData()"
            />
          </div>
        </form>
      </div>
    </div>